@font-face {
    font-family: 'Sofia Pro';
    src: url('./assets/fonts/sofiapro_bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('./assets/fonts/sofiapro_semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('./assets/fonts/sofiapro_medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('./assets/fonts/sofiapro_regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-sans;
}